body {
  color: #222;
  font-family: sans-serif;
  background: rgb(212, 236, 221);
  background: linear-gradient(
    100deg,
    rgba(212, 236, 221, 1) 0%,
    rgba(52, 91, 99, 1) 50%,
    rgba(17, 32, 49, 1) 100%
  );
  background-attachment: fixed; /* Para que escale el fondo */
  /*  https://colorhunt.co/palette/d4ecdd345b63152d35112031 */
}

h3 {
  color: #d4ecdd;
  text-decoration-line: underline;
}

.center-img-blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 460px;
  min-height: auto;
}

.img-blur {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  flex-basis: 500px;
  padding: 50px;
}

.grid-container {
  display: grid;
  grid-template: 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
  flex-basis: 100%;
}

/* joint actions*/
.display-number,
.button-number,
.control-operation {
  padding: 40px;
}
/* Screen for typing */
.display-number {
  display: grid;
  justify-content: center;
  border-radius: 25px 25px 0px 0px;
}
.numbers {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 5px 5px 2.5px #152d35;
  outline: none;
}

/* buttons from 0 to 9 */
.button-number {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 10px;
}

/* Commonality among items */
.item-common {
  display: flex;
  justify-content: center;
}
.item-0,
.item-1 {
  flex-direction: column;
}

.item-0 {
  align-items: center;
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  gap: 10px;
  height: 250px;
}

.item-1 {
  grid-row: 1 / 5;
  grid-column: 4 / 5;
}
.item-2 {
  flex-direction: row;
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

/* Button Designs */
/* Commonality among buttons .common */
.item-common > div > button {
  color: #090909;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 2px 24px;
  font-size: 18px;
  border-radius: 0.5em;
  transition: all 0.3s;
  box-shadow: 5px 5px 2.5px #152d35;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  height: 48px;
}

.item-common > div {
  display: flex;
  width: 100%;
  flex-basis: 100%;
}

.item-0 > div {
  justify-content: space-evenly;
  padding: 10px 0 10px 0;
}

.item-0 div button {
  align-items: center;
  justify-content: center;
}
.item-1 div button {
  font-size: 25px;
}

/* Commonality among buttons "hover" */
.item-common > div > button:hover {
  color: #fff;
  background: #345b63;
}

.item-1 > div {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 0px;
}

.item-2 > div {
  justify-content: space-evenly;
  padding: 20px 0 10px 0;
}

.control-operation {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 0px 0px 25px 25px;
}

.control-operation > button {
  color: #090909;
  padding: 2px 24px;
  font-size: 25px;
  border-radius: 0.5em;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 5px 5px 2.5px #152d35;
  outline: none;
  cursor: pointer;
  font-family: sans-serif;
  height: 48px;
}

.control-operation > button:hover {
  background: #345b63;
  color: #f6f9fe;
}
